body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* APP STYLES */

.App {
  min-height: calc(100vh - 16px);
  min-width: calc(100vw - 16px);
  background: #0079bf;
  padding: 8px;
  display: inline-flex;
  flex-direction: column;
}

.App-header h1 {
  margin: 0;
  color: #f6f6f6;
  font-size: 20px;
  padding: 0 14px 10px;
}

.App-list {
  display: flex;
}

/* LIST STYLES */

.List {
  min-width: 218px;
}

.List:not(:first-of-type) {
  margin-left: 8px;
}

.List-header h2,
.List-cards h3 {
  margin: 0;
}

.List-header h2 {
  font-size: 18px;
  padding: 10px 8px 8px;
}

.List-header,
.List-cards {
  background-color: #dfe3e6;
  padding: 0 6px 4px;
}

.List-header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.List-cards {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-bottom: 10px;
  max-height: calc(100vh - 102px);
  overflow: auto;
}

.List-add-button {
  background: none;
  border: none;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 6px;
  display: block;
}

.List-add-button:hover {
  cursor: pointer;
}

/* CARD STYLES */

.Card {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(9,45,66,.25);
  padding: 8px;
  color: #17394d;
}

.Card {
  margin-bottom: 10px;
}

.Card h3 {
  font-size: 14px;
  margin-bottom: 4px;
}

.Card p {
  margin: 0;
  font-size: 12px;
}

.Card button {
  float: right;
  background-color: #eff1f3;
  border-radius: 6px;
}
